extends layout
block content
  .container
    h2 Welcome to Web Historian Express!
    input(type="text", placeholder="submit a site to be archived")
    input.btn(type="button", value="Queue site for archiving!")
  .sidebar
    ul
      li Previously
      li archived
      li sites
  .archiveViewPort
    iframe#viewPort
