extends layout
block content
  .addSite
    h2 Welcome to Web Historian Express!
    form.form-horizontal(method="POST", action="/sites/create")
      .clearfix
        .input
          input(type="text", placeholder="submit a site to be archived", name="url")
      .clearfix
        .input
          input.btn#queueSite(type="submit", value="Queue site for archiving!")
  .main
    span.sidebar
      ul.listOfSites
        li Previously
        li archived
        li sites
    span.siteDisplayBox
      iframe.archiveViewPort
