extends layout
block content
  .addSite
    h2 Welcome to Web Historian Express!
    form.form-horizontal
      input.input(type="text", placeholder="submit a site to be archived")
      input.btn#queueSite(type="button", value="Queue site for archiving!")
  .main
    .sidebar
      ul
        li Previously
        li archived
        li sites
    iframe.archiveViewPort
